// site-styles.scss


html {
	position: relative;
	min-height: 100%;
	overflow-x: hidden;
}
body {
	overflow-x: hidden;
    text-size-adjust: none;
    min-width: 20rem;
    font-size: 1.125rem;
}

li {
    margin-bottom: 0.5em;
}

@include media-breakpoint-up(md) {
    h1, .h1 { font-size: 3rem; }
    h2, .h2 { font-size: 2.25rem; }
    h3, .h3 { font-size: 1.6825rem; }
    h4, .h4 { font-size: 1.25rem; }
    h5, .h5 { font-size: 1.125rem; }
    h6, .h6 { font-size: 1.125rem; }
}

// links - override Bootstrap standard from _reboot.scss
section a:not(.carousel-control) {
    color: #0000ee;
    border-bottom: 1px solid #0000ee;
    text-decoration: none;
    transition: border-color 0.3s ease-in-out;

    &:visited {
        color: #551A8B;
        border-bottom: 1px solid #551A8B;
    }
  
    &:hover {
      border-color: transparent;
      text-decoration: none;
    }
}

.border-medium {
    border-color: #787b7f;
}

.btn-primary {
    background-color: #0071EB;
}


// notifications
.eu-cookie {
    z-index: 1080;
    padding: 1.25rem 0;
    background-color: $black;
    color: $white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: none;
    margin-top: 4.75rem;
    transition: margin-top 500ms ease;
}

.small-logo .eu-cookie {
    margin-top: 3.75rem;
}

section.eu-cookie a:not(.carousel-control) {
    color: #8ab4f8;
    border-bottom: 1px solid #8ab4f8;
}

section.eu-cookie a:not(.carousel-control):visited {
    color: #c58af9;
    border-bottom: 1px solid #c58af9;
}

.eu-cookie h2 {
    font-size: 1.625rem;
}

.cookie-notice-margin {
    margin-top: 0;
}

.eu-cookie .col-lg-6 {
    max-height: 40vh;
    overflow-y: auto;
    scrollbar-color: #999 #333;
    scrollbar-width: thin;
}

.eu-cookie .col-lg-6::-webkit-scrollbar {
    width: 10px;
}

.eu-cookie .col-lg-6::-webkit-scrollbar-track {
    background-color: darkgrey;
    border-radius: 100px;
}

.eu-cookie .col-lg-6::-webkit-scrollbar-thumb {
    border-radius: 100px;
    background-clip: content-box;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.7);
}

.eu-cookie .col-lg-2 {
    margin-top: 0.5rem;
}

@media (min-width: 768px) {
    .small-logo .eu-cookie {
        margin-top: 3.625rem;
    }

    .eu-cookie .col-lg-6 {
        max-height: none;
    }
}


#skippy {
    z-index: 1085;
    position: absolute;
    display: block;
    padding: 1em;
    color: #fff;
    background-color: $dark;
    outline: 0;

    .skiplink-text {
        padding: .5em;
        outline: 1px dotted;
    }
}

// Main navitation
#main-nav {
    font-size: 1.25rem; // for larger text on mobile menus
    padding: 0.3125rem 0.75rem;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,0.2);
	transition: font-size 500ms ease, padding 0.25s ease;
	img {
		height: 3.5rem;
		transition: height 500ms ease;
    }
}

.small-logo #main-nav img {
    height: 2.5rem;
}

.navbar-brand {
    margin-right: 0;
    order: 2;
}

.navbar-brand img {
    color: transparent;
}

.menu-item:not(:last-child) {
    border-bottom: 1px solid $white-hint;
    transition: border-bottom 250ms ease-in-out;
    &.show {
        border-bottom: none;
    }
}

@include media-breakpoint-up(md) {
    .eu-cookie {
        position: fixed;
    }

	#main-nav {
        font-size: 1rem;
		img {
			height: 3.875rem;
		}
	}
	.small-logo #main-nav img {
        height: 2rem;
    }

    .menu-item:not(:last-child) {
        border-bottom: none;
    }
}

//Navbar Toggle Animation (hamburger for showing the menu on mobile)
.navbar-dark {
	.navbar-toggler {
		padding: 0.5rem;
		border: 0.0625rem solid $white-hint;
		border-radius: 0.25rem;
        font-size: 1rem;
        order: 3;
        &:hover {
            background-color: $blue;
        }
	}
	.navbar-nav {
		.nav-link {
			color: $white-secondary;
			&:focus {
				color: $white;
			}
			&:hover {
				color: $white;
            }
        }
        .btn-dropdown {
            color: $white-secondary;
            background-color: transparent;
            border: none;
            vertical-align: bottom;
            font-size: 1.25rem;
            padding: 0.5rem 8rem 0.5rem 0;
            &:hover {
                color: $white;
            }
            &.active {
                color: $white;
            }
        }
	}
}

.navbar-toggle-icon {
	position: relative;
	cursor: pointer;
	display: inline-block;
	vertical-align: middle;
}

.icon-bar {
	width: 1.5rem;
	height: 0.125rem;
	border-radius: 1rem;
	background-color: $white;
	display: block;
	transition: all 0.2s;
}

.top-bar {
    transform: rotate(0);
}
.middle-bar {
    margin-top: 0.375rem;
    opacity: 1;
}
.bottom-bar {
    margin-top: 0.375rem;
    transform: rotate(0);
}

@media (prefers-reduced-motion: reduce) {
    .icon-bar {
        transition: all 0s;
    }
}

.off-canvas-active {
	.top-bar {
		transform: translate(0.25rem)rotate(45deg);
		transform-origin: 1.5% 1.5%;
	}
	.middle-bar {
		opacity: 0;
	}
	.bottom-bar {
		transform: translate(0.25rem)rotate(-45deg);
		transform-origin: 1.5% 98.5%;
	}
}

// Dropdown menu
.dropdown {
	cursor: pointer;
}
.dropdown-menu {
	.dropdown-item {
        font-size: 1.25rem;
		&:hover {
			background-color: $gray-500;
		}
    }
    .dropdown-item.active {
        background-color: $theme-dark-blue;
    }
	.dropdown-item.active {
		&:hover {
			background-color: $theme-dark-blue;
		}
    }
    .dropdown-item.current-language {
        background-color: $theme-dark-blue;
        .flag-icon {
            border-color: $theme-dark-blue;
        }
    }
    .dropdown-item:not(.current-language) {
        .flag-icon {
            border-color: #787878;
        }
    }
	.dropdown-item.current-language {
		&:hover {
			background-color: $theme-dark-blue;
			color: $white;
		}
	}
}

// Language selector
.lang-selector {
    padding-left: 0.5rem;
    margin-left: 0.5rem;
    order: 1;
}

@include media-breakpoint-up(md) {
    .navbar-dark {
        .navbar-nav {
            .btn-dropdown {
                font-size: 1rem;
                padding: 0.5rem;
            }
        }
    }

    .dropdown-menu {
        .dropdown-item {
            font-size: 1rem;
        }
    }

    .flag-icon {
        background-size: 1.375em 1em;
        border-width: 0.0625em;
        height: 1.125em;
    }
    
    .dropdown-menu-right-md {
        right: 0;
        left: auto;
    }

    .lang-dropdown {
        padding-left: 0.75rem;
        margin-bottom: 0.5rem;
        order: 0;
    }

    .navbar-brand {
        order: 0;
    }
}

#navbarDropdownDetailsMenu {
    background-color: transparent;
    border: none;
    padding-left: 0.1875rem;
    padding-right: 0;
}

#navbarDropdownLanguageMenu {
    background-color: transparent;
    border: none;
    padding-left: 0.1875rem;
    padding-right: 0;
    .flag-icon {
        border-color: $theme-dark-blue;
    }
}

.navbar-dark .lang-dropdown .nav-link {
    color: $white-secondary;

    @include hover-focus() {
        color: $white;
    }
}

.navbar-light .lang-dropdown .nav-link {
    color: $black-secondary;

    @include hover-focus() {
        color: $black-primary;
    }
}

@include media-breakpoint-up(md) {
    .dropdown-menu-right-lg {
        right: 0;
        left: auto;
    }
}

.current-language {
	color: $white;
	text-decoration: none;
	background-color: $dark;
}
.flag-icon {
	background-position: 50%;
	background-repeat: no-repeat;
    background-size: 100% 100%;
    border-style: solid;
    border-width: 0.05em;
	position: relative;
	display: inline-block;
	width: 1.6em;
    height: 1.1em;
    line-height: 1em;
	margin-right: 0.5rem;    
	&:before {
		content: "\00a0";
	}
}

.flag-icon-lg {
    margin-right: 0;
}

@media (min-width: 768px) {
    .flag-icon {
        background-size: 1.375em 1em;
        border-width: 0.0625em;
        width: 1.5em;
        height: 1.125em;
    }
}

/*! The flag icons are copyright (c) 2017 by Go Squared Ltd. http://www.gosquared.com/
    and are being used under an MIT license (https://github.com/gosquared/flags/blob/master/LICENSE.txt)
    I use the 24 and 48 sizes from the flags/flags/flags/flat/ directory
*/
/* 30x20 and 60x40 flag sizes for mobile displays */
.flag-icon-en {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAUAgMAAADnxWVXAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAMUExURQAAlP8AAP///5WV0ttwzkMAAAA7SURBVAjXY2BgYGAMDQ0NYDA2NjYEM3jOnDm0atWqBSgiB2FqjMBSyCK4dMFNXgUBCxhCISAAwSBLCgB8MT+CysjEfwAAAABJRU5ErkJggg==');

    background-image: -webkit-image-set(
        url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAUAgMAAADnxWVXAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAMUExURQAAlP8AAP///5WV0ttwzkMAAAA7SURBVAjXY2BgYGAMDQ0NYDA2NjYEM3jOnDm0atWqBSgiB2FqjMBSyCK4dMFNXgUBCxhCISAAwSBLCgB8MT+CysjEfwAAAABJRU5ErkJggg==') 1x,
        url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADwAAAAoBAMAAABQlYTMAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAVUExURSQksAAAlP8AAP///wsLnRERovHx/2TAQQQAAABiSURBVDjLYxBEBUqogEGERdDBEUGgSwsYCDIzIghM3QEBrqwwwtEYFTAICrIxCiTACEF0aQK6SbMbXRrNbhJdjmY3iS4nze4hFeZ4UwuBtGaMF1AorYQXUCg96nL6uxy/NAC71Lc1k4IrjAAAAABJRU5ErkJggg==') 2x);
    background-image: image-set(
        url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAUAgMAAADnxWVXAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAMUExURQAAlP8AAP///5WV0ttwzkMAAAA7SURBVAjXY2BgYGAMDQ0NYDA2NjYEM3jOnDm0atWqBSgiB2FqjMBSyCK4dMFNXgUBCxhCISAAwSBLCgB8MT+CysjEfwAAAABJRU5ErkJggg==') 1x,
        url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADwAAAAoBAMAAABQlYTMAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAVUExURSQksAAAlP8AAP///wsLnRERovHx/2TAQQQAAABiSURBVDjLYxBEBUqogEGERdDBEUGgSwsYCDIzIghM3QEBrqwwwtEYFTAICrIxCiTACEF0aQK6SbMbXRrNbhJdjmY3iS4nze4hFeZ4UwuBtGaMF1AorYQXUCg96nL6uxy/NAC71Lc1k4IrjAAAAABJRU5ErkJggg==') 2x);
}

.flag-icon-zh {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAUBAMAAABohZD3AAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAYUExURd4pEN0hEOE2DudYC+txCfm8Av/jAPKTBwovCOEAAABdSURBVBjTY2AAAUYGVMBuiMRhBvEF4FxBVUUBBiEDON+krMSAQSQIzldNS1VgYELIC6UlCTAwIvQLh4QIMAg7IPiKygzI+hkEBBmYGBRQ3KPqiOo+FkNUPrr76QcA5msH2U4F0RsAAAAASUVORK5CYII=');

    background-image: -webkit-image-set(
        url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAUBAMAAABohZD3AAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAYUExURd4pEN0hEOE2DudYC+txCfm8Av/jAPKTBwovCOEAAABdSURBVBjTY2AAAUYGVMBuiMRhBvEF4FxBVUUBBiEDON+krMSAQSQIzldNS1VgYELIC6UlCTAwIvQLh4QIMAg7IPiKygzI+hkEBBmYGBRQ3KPqiOo+FkNUPrr76QcA5msH2U4F0RsAAAAASUVORK5CYII=') 1x,
        url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADwAAAAoBAMAAABQlYTMAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAeUExURd4pEN0iEONGDfrAAuA0D+dXC//fAP/rAO6BCPaqBBGeoHcAAACZSURBVDjLY2AgFgjglXUJxCfLqGyES0pIEa+0RCPYcEYc0sIGYKeJumCTZGFUSxJgATKUjbA4nlHT2CzZeJIADmkGoelpacVAxzFgN5xRIi2tEaQPh9NEy8sb8YSIZOV0Q5j3sRiu1iiRBDScMdgUm9MYQwWACMhwNsFquCADI0hWwEkFb4wxCpAVY0RIE0gOhBLTKBgFFAIAbYYTHZGKWxoAAAAASUVORK5CYII=') 2x);
    background-image: image-set(
        url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAUBAMAAABohZD3AAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAYUExURd4pEN0hEOE2DudYC+txCfm8Av/jAPKTBwovCOEAAABdSURBVBjTY2AAAUYGVMBuiMRhBvEF4FxBVUUBBiEDON+krMSAQSQIzldNS1VgYELIC6UlCTAwIvQLh4QIMAg7IPiKygzI+hkEBBmYGBRQ3KPqiOo+FkNUPrr76QcA5msH2U4F0RsAAAAASUVORK5CYII=') 1x,
        url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADwAAAAoBAMAAABQlYTMAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAeUExURd4pEN0iEONGDfrAAuA0D+dXC//fAP/rAO6BCPaqBBGeoHcAAACZSURBVDjLY2AgFgjglXUJxCfLqGyES0pIEa+0RCPYcEYc0sIGYKeJumCTZGFUSxJgATKUjbA4nlHT2CzZeJIADmkGoelpacVAxzFgN5xRIi2tEaQPh9NEy8sb8YSIZOV0Q5j3sRiu1iiRBDScMdgUm9MYQwWACMhwNsFquCADI0hWwEkFb4wxCpAVY0RIE0gOhBLTKBgFFAIAbYYTHZGKWxoAAAAASUVORK5CYII=') 2x);
}

.flag-icon-ko {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAUCAMAAACtdX32AAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAACBUExURf///0ZGRpCQkAAocU9PT8YKL8QAJAIzeFdXV/n3+OHh4Tc3N4ODg84IK5ubm8zMzO7y9dfX1+ywvaW2zhVCgTxil24iVcogQXR0dNVHYmVlZRsubrMQN+F+km2LssPDw4WTp7m5uf7r7HgWR2c3aMHBwbRSc0ogWbCwsFdXh8XFxU4dPMQAAADiSURBVCjPlZLrboMwDIXtxCSGBAgFSulVbdfd3v8B6yBVZB2bNv+IZH12TnwcgD9F/mtacJ2mNTdfMBOq8EiCQtqmtEJiihfm08FMqppp45hdAbAah2FciZTfkpvVCoUo1QdjssyYA8A7okrVbxvpFShRGunfnPPn2V4jLvd7My5NHl5KoWtr34bLEu6uWSbU2vUShl7vdpHqj2+olqe12k6hWwB/Si2t0MlgRy0FWh8Bzo5Ukdrioy1t33V9G21RqS2g2DPHSUOYTCVfqVSbCP28Ev+0EmjolqafVP/nO/wUd0GMCkQXDLdgAAAAAElFTkSuQmCC');

    background-image: -webkit-image-set(
        url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAUCAMAAACtdX32AAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAACBUExURf///0ZGRpCQkAAocU9PT8YKL8QAJAIzeFdXV/n3+OHh4Tc3N4ODg84IK5ubm8zMzO7y9dfX1+ywvaW2zhVCgTxil24iVcogQXR0dNVHYmVlZRsubrMQN+F+km2LssPDw4WTp7m5uf7r7HgWR2c3aMHBwbRSc0ogWbCwsFdXh8XFxU4dPMQAAADiSURBVCjPlZLrboMwDIXtxCSGBAgFSulVbdfd3v8B6yBVZB2bNv+IZH12TnwcgD9F/mtacJ2mNTdfMBOq8EiCQtqmtEJiihfm08FMqppp45hdAbAah2FciZTfkpvVCoUo1QdjssyYA8A7okrVbxvpFShRGunfnPPn2V4jLvd7My5NHl5KoWtr34bLEu6uWSbU2vUShl7vdpHqj2+olqe12k6hWwB/Si2t0MlgRy0FWh8Bzo5Ukdrioy1t33V9G21RqS2g2DPHSUOYTCVfqVSbCP28Ev+0EmjolqafVP/nO/wUd0GMCkQXDLdgAAAAAElFTkSuQmCC') 1x,
        url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADwAAAAoCAMAAACVZWnNAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAABvUExURf///wQqcfv7+6enpxUVFbKysllZWQA0eMYLMAAAANnZ2WhoaMQCJubm5vb09tALLcG/wSEhIZeXl8wsTERERLUKMaS2zhlIhSlRjM7Ozuyuunx7g2yKseB5jc9edycsanUbTFUhWFR1o6AUPuqntZud7FkAAAHESURBVEjH3ZXZkoMgEEUFBOMGuC9Z1CT//40DBKKx7GjVPM10WT7YHL023RfP+w+Bf5Nm5bc8Y99YEjKaQ3hOWUhgNvWzyPejdDOnM5kfwbJCGqtra0XqM6pkhWdYdEz1VfKNUpkXE0ooJNrvMi1tls05/symy+yGaFcU3N8KFbcnd7qk1MIZVGkt2ib7IrFR9K8n3fn18nwLLuVC9DVJTjaS5Pr6B1NuWW5uF85D4kRf3+iCNtpyqPkksaL7Javx3laFSLgDo9hsMS/WcGGqlsbR/njIagEKoenn4dk6z7A4PR6VEMnt8Fy2lXDsOAQBmqqkwAdh3owWFlNgYqgKfhhGD2H+dgxsTIIflh2gUSmvJscG6LBs747U8mEI5kCHC+bVKFgFkvtUFJvO5u2KRs1uk+DOtef606h27dmBDjdP8+WDRhfzkMKDoUbS+F9q6TeO0AXvjWRunMAJ9+oWaV7dmtqZAQHNQNsQy/Dbm3l9b5umvde2PahPvVLpLiEDTCXr/Nni8NIAlWImeRam362X4U3rVaJzCVmv808GmL7yTgmbvjtuNjsh2jtutMUR+KAjMWh/B47Ysvw+yt5v0n8kfgDmyxz+5QbmtAAAAABJRU5ErkJggg==') 2x);
    background-image: image-set(
        url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAUCAMAAACtdX32AAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAACBUExURf///0ZGRpCQkAAocU9PT8YKL8QAJAIzeFdXV/n3+OHh4Tc3N4ODg84IK5ubm8zMzO7y9dfX1+ywvaW2zhVCgTxil24iVcogQXR0dNVHYmVlZRsubrMQN+F+km2LssPDw4WTp7m5uf7r7HgWR2c3aMHBwbRSc0ogWbCwsFdXh8XFxU4dPMQAAADiSURBVCjPlZLrboMwDIXtxCSGBAgFSulVbdfd3v8B6yBVZB2bNv+IZH12TnwcgD9F/mtacJ2mNTdfMBOq8EiCQtqmtEJiihfm08FMqppp45hdAbAah2FciZTfkpvVCoUo1QdjssyYA8A7okrVbxvpFShRGunfnPPn2V4jLvd7My5NHl5KoWtr34bLEu6uWSbU2vUShl7vdpHqj2+olqe12k6hWwB/Si2t0MlgRy0FWh8Bzo5Ukdrioy1t33V9G21RqS2g2DPHSUOYTCVfqVSbCP28Ev+0EmjolqafVP/nO/wUd0GMCkQXDLdgAAAAAElFTkSuQmCC') 1x,
        url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADwAAAAoCAMAAACVZWnNAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAABvUExURf///wQqcfv7+6enpxUVFbKysllZWQA0eMYLMAAAANnZ2WhoaMQCJubm5vb09tALLcG/wSEhIZeXl8wsTERERLUKMaS2zhlIhSlRjM7Ozuyuunx7g2yKseB5jc9edycsanUbTFUhWFR1o6AUPuqntZud7FkAAAHESURBVEjH3ZXZkoMgEEUFBOMGuC9Z1CT//40DBKKx7GjVPM10WT7YHL023RfP+w+Bf5Nm5bc8Y99YEjKaQ3hOWUhgNvWzyPejdDOnM5kfwbJCGqtra0XqM6pkhWdYdEz1VfKNUpkXE0ooJNrvMi1tls05/symy+yGaFcU3N8KFbcnd7qk1MIZVGkt2ib7IrFR9K8n3fn18nwLLuVC9DVJTjaS5Pr6B1NuWW5uF85D4kRf3+iCNtpyqPkksaL7Javx3laFSLgDo9hsMS/WcGGqlsbR/njIagEKoenn4dk6z7A4PR6VEMnt8Fy2lXDsOAQBmqqkwAdh3owWFlNgYqgKfhhGD2H+dgxsTIIflh2gUSmvJscG6LBs747U8mEI5kCHC+bVKFgFkvtUFJvO5u2KRs1uk+DOtef606h27dmBDjdP8+WDRhfzkMKDoUbS+F9q6TeO0AXvjWRunMAJ9+oWaV7dmtqZAQHNQNsQy/Dbm3l9b5umvde2PahPvVLpLiEDTCXr/Nni8NIAlWImeRam362X4U3rVaJzCVmv808GmL7yTgmbvjtuNjsh2jtutMUR+KAjMWh/B47Ysvw+yt5v0n8kfgDmyxz+5QbmtAAAAABJRU5ErkJggg==') 2x);
}

/* 22x16 and 44x32 flag sizes for wider displays */
@media (min-width: 768px) {
    .flag-icon-en {
        background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAQAgMAAABvg2e1AAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAMUExURaam2QAAlP8AAP///+cTLRcAAAAzSURBVAjXYwgNDc1atYDBxcUFRAUKCtb//4DEg8qBBBE8TJVQU/6DwAeGVSCwAEahCAIA1G00XVRpWGUAAAAASUVORK5CYII=');

        background-image: -webkit-image-set(
            url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAQAgMAAABvg2e1AAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAMUExURaam2QAAlP8AAP///+cTLRcAAAAzSURBVAjXYwgNDc1atYDBxcUFRAUKCtb//4DEg8qBBBE8TJVQU/6DwAeGVSCwAEahCAIA1G00XVRpWGUAAAAASUVORK5CYII=') 1x,
            url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAgBAMAAACbaIdJAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAPUExURQAAlP8AAP///01NtIODyy4vFsAAAABOSURBVCjPY2BAAoyCMMDAoICAyMIGCIgsjKScSQkGGJCVIwuTbTaKMEGzkYXJNhtHmKCY7QCHKJ7HbjYOz2OPBiWsAJewIFZAovDwshIABzU6eYs4OE0AAAAASUVORK5CYII=') 2x);
        background-image: image-set(
            url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAQAgMAAABvg2e1AAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAMUExURaam2QAAlP8AAP///+cTLRcAAAAzSURBVAjXYwgNDc1atYDBxcUFRAUKCtb//4DEg8qBBBE8TJVQU/6DwAeGVSCwAEahCAIA1G00XVRpWGUAAAAASUVORK5CYII=') 1x,
            url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAgBAMAAACbaIdJAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAPUExURQAAlP8AAP///01NtIODyy4vFsAAAABOSURBVCjPY2BAAoyCMMDAoICAyMIGCIgsjKScSQkGGJCVIwuTbTaKMEGzkYXJNhtHmKCY7QCHKJ7HbjYOz2OPBiWsAJewIFZAovDwshIABzU6eYs4OE0AAAAASUVORK5CYII=') 2x);
    }

    .flag-icon-zh {
        background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAQBAMAAADgw5IVAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAVUExURd0iEN4pEOpnCuRJDfGNB//lAPe4BMbDAQIAAABISURBVAjXYxAEAgFGECnIACKYFKBsAWNGJgVGqLiLoABEgkHALDSZEcoWZApVgGoGsl0UBGHiwgyGMPVAjGQOkvlo9kIBqWwA+l4Mwq+4G4wAAAAASUVORK5CYII=');

        background-image: -webkit-image-set(
            url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAQBAMAAADgw5IVAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAVUExURd0iEN4pEOpnCuRJDfGNB//lAPe4BMbDAQIAAABISURBVAjXYxAEAgFGECnIACKYFKBsAWNGJgVGqLiLoABEgkHALDSZEcoWZApVgGoGsl0UBGHiwgyGMPVAjGQOkvlo9kIBqWwA+l4Mwq+4G4wAAAAASUVORK5CYII=') 1x,
            url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAgBAMAAACbaIdJAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAbUExURd4pEN0gEOAzD/OeBf/kAOx1CehfC+RJDfzNAZCMeioAAACDSURBVCjPY2DACxixC6slYhXWaMfQnybAwKAagCFsDBRmUGASQBUV6GAEiRSjqg82djE2BdIhhijCyi4uLkZAmk0BRVgwxcVNANPljCUu7gJY/GcS6gwSVi1AEWYyEywGGRtigCqsyCAEFGYsxuZ9RgWsgaVsRGRQgYF6IinRMAoIAgAgEg7QYnv4VgAAAABJRU5ErkJggg==') 2x);
        background-image: image-set(
            url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAQBAMAAADgw5IVAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAVUExURd0iEN4pEOpnCuRJDfGNB//lAPe4BMbDAQIAAABISURBVAjXYxAEAgFGECnIACKYFKBsAWNGJgVGqLiLoABEgkHALDSZEcoWZApVgGoGsl0UBGHiwgyGMPVAjGQOkvlo9kIBqWwA+l4Mwq+4G4wAAAAASUVORK5CYII=') 1x,
            url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAgBAMAAACbaIdJAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAbUExURd4pEN0gEOAzD/OeBf/kAOx1CehfC+RJDfzNAZCMeioAAACDSURBVCjPY2DACxixC6slYhXWaMfQnybAwKAagCFsDBRmUGASQBUV6GAEiRSjqg82djE2BdIhhijCyi4uLkZAmk0BRVgwxcVNANPljCUu7gJY/GcS6gwSVi1AEWYyEywGGRtigCqsyCAEFGYsxuZ9RgWsgaVsRGRQgYF6IinRMAoIAgAgEg7QYnv4VgAAAABJRU5ErkJggg==') 2x);
    }

    .flag-icon-ko {
        background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAQCAMAAAAlM38UAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAB1UExURf////n5+UZGRlpaWgAzeba2tmFhYd/f3/T19lRUVBlCgcggQcYKLs8HKIaGhlRyofT09P7y89Pc6AAmb74FJ/bX3ejp6kxMTNpZcVogVpiYmK6urpCQkNTU1IqKim9vb8TExOv3+4EjUkNDQ8teeCUubl42afLiRbQAAACrSURBVBjThZDnDoMwDIQPMsggEAKIJcroeP9HbFATiUpU9S/rk+27M/C7suyqTzhhSWgZ4RGPaSctUFWAJd0yhbVUpivaXuu+xbx0988Zy2SBVjd53ugWN8lslLF4eGpy08Oe5LHtxpjhOejqy+Km9maglL7OOBMoaw9pXULEI+KQdMrzWrlDUgSDXK5wpVKlw1zwYBAj50cc4aesJMUUw5O46MNL/udVF/UGPcwIZTWkYlUAAAAASUVORK5CYII=');

        background-image: -webkit-image-set(
            url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAQCAMAAAAlM38UAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAB1UExURf////n5+UZGRlpaWgAzeba2tmFhYd/f3/T19lRUVBlCgcggQcYKLs8HKIaGhlRyofT09P7y89Pc6AAmb74FJ/bX3ejp6kxMTNpZcVogVpiYmK6urpCQkNTU1IqKim9vb8TExOv3+4EjUkNDQ8teeCUubl42afLiRbQAAACrSURBVBjThZDnDoMwDIQPMsggEAKIJcroeP9HbFATiUpU9S/rk+27M/C7suyqTzhhSWgZ4RGPaSctUFWAJd0yhbVUpivaXuu+xbx0988Zy2SBVjd53ugWN8lslLF4eGpy08Oe5LHtxpjhOejqy+Km9maglL7OOBMoaw9pXULEI+KQdMrzWrlDUgSDXK5wpVKlw1zwYBAj50cc4aesJMUUw5O46MNL/udVF/UGPcwIZTWkYlUAAAAASUVORK5CYII=') 1x,
            url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAgCAMAAABemGpIAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAACiUExURf////v5+sMBJLu7u/Lz9Hl5edAJLAA0ecYLLwAAAAAvdevr7A8PD7CwsAYnbs/O0IKCgomJiY+Pj8bGxjw8PJeXl0pKSm5ubmFeZKGhoQQEBCwsLPzt8BoaGldXV9pieYMYSNzY2V59qRRFgy9YkNA3VTwmYgoKCs0cPcXR4fLH0GqJsKARO0c6T95xh1giWEVqnN93jI5vk444Yqh/nLwbPzP2emUAAAGOSURBVDjLzVTZkoMgEJQIMRBRMN7GaMx9VPb+/19bQM0qJtY+pquskrEdmpkeDOPFwNH/4y5GaDEMrxHDph4EmR/gxINa1EswX9la1GAptVFsz/tRmIdeSqOFLoKHWYJps1wum5cF5r7v2j0hUIqgeawW59vueNwVZ7VA0RqzMO/uGKT00IgAt9lkMpNPodKzFRcKWYc8d1sRoBDMGpOdZJs4EEL6Z1mYthLxcecKdiEjUUqHtfPk3+tZFxOpG+r1vOO7TTyVqFM/RdyQp+V+/3ad7sAIF26uU8V9swRIeVyOkvdKQGkpOD9jZGNLnPJa7muuRb7GZBgXx+rA+XxCA4Es3YmQPy4hrpQWDErXNqWb2qmUO1Kz77q63bJR4P3OdrZQtdvT2h0chJFWufwILsQhAg6p1PYs5LhvJJiFXrauhRinarvZbKtTY1HDF2nmffN7Zhy00wbgHLTmZxF1D5qTUEpTtno0VjgZDDLIQjGwXKsS5Almw4EVG6Lo0VUQ8eFVII797JKJXu06/AXnPR0nUDB5EAAAAABJRU5ErkJggg==') 2x);
        background-image: image-set(
            url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAQCAMAAAAlM38UAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAB1UExURf////n5+UZGRlpaWgAzeba2tmFhYd/f3/T19lRUVBlCgcggQcYKLs8HKIaGhlRyofT09P7y89Pc6AAmb74FJ/bX3ejp6kxMTNpZcVogVpiYmK6urpCQkNTU1IqKim9vb8TExOv3+4EjUkNDQ8teeCUubl42afLiRbQAAACrSURBVBjThZDnDoMwDIQPMsggEAKIJcroeP9HbFATiUpU9S/rk+27M/C7suyqTzhhSWgZ4RGPaSctUFWAJd0yhbVUpivaXuu+xbx0988Zy2SBVjd53ugWN8lslLF4eGpy08Oe5LHtxpjhOejqy+Km9maglL7OOBMoaw9pXULEI+KQdMrzWrlDUgSDXK5wpVKlw1zwYBAj50cc4aesJMUUw5O46MNL/udVF/UGPcwIZTWkYlUAAAAASUVORK5CYII=') 1x,
            url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAgCAMAAABemGpIAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAACiUExURf////v5+sMBJLu7u/Lz9Hl5edAJLAA0ecYLLwAAAAAvdevr7A8PD7CwsAYnbs/O0IKCgomJiY+Pj8bGxjw8PJeXl0pKSm5ubmFeZKGhoQQEBCwsLPzt8BoaGldXV9pieYMYSNzY2V59qRRFgy9YkNA3VTwmYgoKCs0cPcXR4fLH0GqJsKARO0c6T95xh1giWEVqnN93jI5vk444Yqh/nLwbPzP2emUAAAGOSURBVDjLzVTZkoMgEJQIMRBRMN7GaMx9VPb+/19bQM0qJtY+pquskrEdmpkeDOPFwNH/4y5GaDEMrxHDph4EmR/gxINa1EswX9la1GAptVFsz/tRmIdeSqOFLoKHWYJps1wum5cF5r7v2j0hUIqgeawW59vueNwVZ7VA0RqzMO/uGKT00IgAt9lkMpNPodKzFRcKWYc8d1sRoBDMGpOdZJs4EEL6Z1mYthLxcecKdiEjUUqHtfPk3+tZFxOpG+r1vOO7TTyVqFM/RdyQp+V+/3ad7sAIF26uU8V9swRIeVyOkvdKQGkpOD9jZGNLnPJa7muuRb7GZBgXx+rA+XxCA4Es3YmQPy4hrpQWDErXNqWb2qmUO1Kz77q63bJR4P3OdrZQtdvT2h0chJFWufwILsQhAg6p1PYs5LhvJJiFXrauhRinarvZbKtTY1HDF2nmffN7Zhy00wbgHLTmZxF1D5qTUEpTtno0VjgZDDLIQjGwXKsS5Almw4EVG6Lo0VUQ8eFVII797JKJXu06/AXnPR0nUDB5EAAAAABJRU5ErkJggg==') 1.5x);
    }
}

// Header - home page only
header {
	position: relative;
	width: 100%;
	padding-top: 7rem;
	h2 {
		font-size: 1.5625rem;
		margin-bottom: 2rem;
	}
	a.btn-outline-dark {
		color: $black;
		background-color: $white-secondary;
		border-color: $black;
	}
}

.header-fixed-background {
	overflow: hidden;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	img {
		height: 100%;
		object-fit: cover;
	}
}


.header-text {
	display: block;
	color: $black;
	padding-top: 1.5rem;
	padding-bottom: 8rem;
    position: relative;
    & h1 {
        padding: 0 1rem 3rem 1rem;
    }
}

.header-text-line-1 {
    font-size: 1.5rem;
}

.attribution {
	position: absolute;
	left: 1rem;
	bottom: 1rem;
	color: $white;
	font-size: 0.75rem;
	border: 1px solid $white;
	border-radius: 1rem;
	background-color: $black-secondary;
    padding: 0 0.5rem;
    z-index: 20;
    &:hover {
        color: $white-secondary;
    }
}

@include media-breakpoint-up(sm) {
    .cookie-notice-margin {
        margin-top: 24rem;
    }
}

@include media-breakpoint-up(md) {
	header {
		margin-top: 0;
	}
	.header-fixed-background {
		height: 1200px;
		height: 100vh;
		max-height: 100%;
		overflow: hidden;
		position: relative;
		bottom: 0;
		left: 0;
		right: 0;
		top: 0;
		width: 100%;
		img {
			height: 100%;
			left: 0;
			object-fit: cover;
			top: 0;
			width: 100%;
			position: fixed;
			max-width: 1000%;
			max-height: 100%;
			min-width: 100%;
			min-width: 100vw;
			width: auto;
		}
	}
	.header-text {
		display: block;
		color: $black;
		position: absolute;
		top: 17vh;
		left: 0;
		right: 0;
		padding-top: 0;
		padding-bottom: 0;
    }
    
    .header-text-line-1 {
        font-size: 1.5625rem;
        line-height: 4rem;
    }

	.github-link {
		margin-top: 1.5rem;
        white-space: pre-line;
	}
    
    .cookie-notice-margin {
        margin-top: 16rem;
    }
}

@include media-breakpoint-up(lg) {
    .cookie-notice-margin {
        margin-top: 20rem;
    }
}

@include media-breakpoint-up(xl) {
    .cookie-notice-margin {
        margin-top: 18rem;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        color: $white-primary;
        background-color: $dark-mode-base;
    }

    .header-text {
        color: $white;
    }

    .header-fixed-background img {
        filter: brightness(47%);
    }

    .bg-dark {
        background-color: $dark-mode-level-1 !important;
    }

    .navbar-dark .navbar-toggler:hover {
        background-color: $dark-mode-medium;
    }

    header a.btn-outline-dark {
        background-color: $dark-mode-level-1;
        color: $white;
    }

    header a.btn-outline-dark:hover {
        background-color: $dark-mode-level-1-accent;
        border-color: $dark-mode-level-1;
    }

    #navbarDropdownLanguageMenu .flag-icon {
        border-color: $dark-mode-level-1;
    }

    .dropdown-menu .dropdown-item.current-language .flag-icon {
        border-color: $dark-mode-level-2;
    }

    .dropdown-menu {
        background-color: $dark-mode-level-1-accent;
        color: $white-secondary;
        border-color: $dark-mode-level-2;
        box-shadow: 1px 1px 15px 0px $black;
    }

    .dropdown-menu .dropdown-item.active {
        background-color: $dark-mode-level-2;
    }

    .dropdown-menu .dropdown-item:hover {
        color: $white;
        background-color: $dark-mode-medium;
    }

    .dropdown-menu .dropdown-item.active:hover {
        background-color: $dark-mode-level-2;
    }

    .dropdown-menu .dropdown-item.current-language {
        color: $white;
        background-color: $dark-mode-level-2;
    }

    .dropdown-menu .dropdown-item.current-language:hover {
        background-color: $dark-mode-level-2;
    }

    .dropdown-item {
        color: $white-secondary;
    }

    .bg-light, .bg-white {
        background-color: $dark-mode-base !important;
    }

    .card {
        background-color: $dark-mode-level-1;
    }

    // links - override Bootstrap standard from _reboot.scss
    section a:not(.carousel-control) {
        color: #8ab4f8;
        border-bottom: 1px solid #8ab4f8;
        text-decoration: none;

        &:visited {
            color: #c58af9;
            border-bottom: 1px solid #c58af9;
        }
    
        &:hover {
        border-color: transparent;
        text-decoration: none;
        }
    }

    .form-control {
        color: $white-secondary;
        background-color: $dark-mode-level-1-accent;
    }

    .form-control:focus {
        color: $white;
        background-color: $dark-mode-level-2;
    }

    .alert-success {
        background-color: $dark-mode-level-1;
        color: $white-secondary;
        border-color: $dark-mode-level-1;
    }
    
}

// cards
.card {
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}
// sections
section {
	padding: 4rem 0;
	position: relative;
    overflow: hidden;
    &:focus {
        outline-color: transparent;
    }
    &:last-of-type {
        padding-bottom: 5rem; // use more padding to clear scroll-to-top button
    }
    // Give h3 headings more top margin so there is more space
    h3 {
        margin-top: 2rem;
    }
}
.detail-first-section {
    transition: margin-top 0.25s ease;
	padding-top: 6rem;
}

@media (prefers-reduced-motion: reduce) {
    .detail-first-section {
        transition: margin-top 0s;
    }
}

@include media-breakpoint-up(md) {
    .detail-first-section {
        padding-top: 7rem;
    }

    section:last-of-type {
        padding-bottom: 4rem;
    }
}


#scroll-to-top {
	position: fixed;
	right: 32px;
	bottom: 32px;
	opacity: 0;
	transition: opacity 0.5s ease-in-out, bottom 0.25s ease-in-out;
	width: 3.625rem;
    height: 3.615rem;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px -1px, rgba(0, 0, 0, 0.14) 0px 4px 5px 0px, rgba(0, 0, 0, 0.12) 0px 1px 10px 0px;
    border-radius: 8px;
    z-index: 20;
}

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
    //height: 40rem;
    background-color: $gray-700;
    font-size: 87.5%;
	a {
		color: $white;
		text-decoration: underline;
		&:hover {
			color: $white-secondary;
			text-decoration: none;
		}
	}
}

footer h2 {
    font-size: 1.25rem;
}

.terms-link {
    border-top: 1px solid $gray-900;
}

@media (prefers-color-scheme: dark) {
    footer {
        background-color: #24282c;
    }

    .terms-link {
        border-top-color: #787b7f;
    }
}


/*! Page loading spinner 
   From https://loading.io/css/
   and is being used under a Creative Commons CC0 license */
.lds-container {
    display: none;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    text-align: center;
    padding-top: 6rem;
    background-color: rgba(256,256,256,0.7);
}
.lds-spinner {
    color: #ffffff;
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
}

.lds-spinner div {
    transform-origin: 32px 32px;
    animation: lds-spinner 1.2s linear infinite;
}

.lds-spinner div:after {
    content: " ";
    display: block;
    position: absolute;
    top: 3px;
    left: 29px;
    width: 5px;
    height: 14px;
    border-radius: 20%;
    background: #000;
}

.lds-spinner div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -1.1s;
}

.lds-spinner div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -1s;
}

.lds-spinner div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.9s;
}

.lds-spinner div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.8s;
}

.lds-spinner div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.7s;
}

.lds-spinner div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.6s;
}

.lds-spinner div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.5s;
}

.lds-spinner div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.4s;
}

.lds-spinner div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.3s;
}

.lds-spinner div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.2s;
}

.lds-spinner div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.1s;
}

.lds-spinner div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
}

@keyframes lds-spinner {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@include media-breakpoint-up(md) {
    .lds-container {
        width: 0;
        height: 0;
        overflow: hidden;
    }
}

// Styles for details1
.scss-diagram {
	display: block;
	border: 1px solid $gray-600;
	border-radius: 0.1875rem;
    box-sizing: content-box;
    max-width: 100%;
    height: auto;
    
}

// Styles for details2
/* Styles for Bootstrap carousel */
.bootstrap-carousel-demo {
	position: relative;
}
.base1 {
	border: 1px solid $gray-600;
	padding-bottom: 38px;
	border-radius: 0.1875rem;
	background-color: $gray-100;
}
.carousel {
	position: absolute;
	top: 0;
	left: 0;
}
.carousel-indicators {
	bottom: -47px;
	li {
		background-color: $gray-800;
        margin-bottom: 0;
	}
	.active {
		background-color: $gray-500;
	}
}
.carousel-fade {
	.carousel-item {
		transition-duration: .4s;
	}
}
.carousel-control-prev {
	opacity: 0;
    height: calc(100% + 47px);
}
.carousel-control-next {
	opacity: 0;
    height: calc(100% + 47px);
}
.carousel-caption {
	color: $gray-800;
	top: 5%;
	left: 60%;
	right: auto;
}

// Styles for details5
.font-table {
    width: 80%;
    color: inherit;
}

.font-table th:first-of-type {
    width: 35%;
}

/* Styles for contact page */
.contact-error {
	color: $crimson;
}
.contact-required {
	color: $crimson;
    font-size: 2rem;
    line-height: 0.5rem;
    vertical-align: middle;
}
.contact-card-block {
	flex: 1 1 auto;
	padding: 1.25rem;
}

@media (prefers-color-scheme: dark) {
    .contact-error, .contact-required {
        color: #FFA1A1;
    }
}